<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the Think Lounge!</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Homepage_style.css') }}">

    </head>
    <body>
        <div class="container">
        <h1>Welcome to the Think Lounge!</h1>
        <p>Please enter the library.</p>
        <a href="/dashboard">Go to Dashboard</a>
        <!-- admin -->
        <a href="/admin">Go to Admin Page</a>
        </div>
    </body>
</html>